.DS_Store

build/
.gradle/

local.properties
*.iml

.idea/.name
.idea/modules.xml
.idea/appInsightsSettings.xml
.idea/artifacts/*.xml
.idea/assetWizardSettings.xml
.idea/caches/deviceStreaming.xml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/migrations.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/AndroidProjectSystem.xml
.idea/androidTestResultsUserPreferences.xml
.idea/studiobot.xml
.idea/codeInsightSettings.xml
.idea/deviceManager.xml

.kotlin/errors/errors-*.log
.kotlin/sessions/
.kotlin/metadata/

tasks-app-android/google-services.json
tasks-app-desktop/bin/
tasks-app-ios/Taskfolio.xcodeproj/xcuserdata/*.xcuserdatad
tasks-app-ios/Taskfolio.xcodeproj/project.xcworkspace/contents.xcworkspacedata
tasks-app-ios/Taskfolio.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
tasks-app-ios/Taskfolio.xcodeproj/project.xcworkspace/xcshareddata/*

*token_cache.*
client_secret_*.apps.googleusercontent.com.json

_ci/*.keystore
_ci/api-*.json
bundletool-*.jar

_site/
