.DS_Store

build/
.gradle/

local.properties
*.iml

.idea/modules.xml
.idea/appInsightsSettings.xml
.idea/artifacts/*.xml
.idea/assetWizardSettings.xml
.idea/caches/deviceStreaming.xml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/migrations.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml

.kotlin/errors/errors-*.log
.kotlin/sessions/

tasks-app-android/google-services.json

*token_cache.*
client_secret_*.apps.googleusercontent.com.json

_ci/*.keystore
_ci/api-*.json
bundletool-*.jar
