.gradle/
*.iml

local.properties

build/

.DS_Store
.idea/modules.xml
*token_cache.*
.idea/artifacts/*.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
client_secret_*.apps.googleusercontent.com.json
.idea/assetWizardSettings.xml
.idea/caches/deviceStreaming.xml
.idea/deploymentTargetSelector.xml
.idea/migrations.xml
.kotlin/errors/errors-*.log
_ci/api-*.json
_ci/*.keystore
bundletool-*.jar
.idea/appInsightsSettings.xml
tasks-app-android/google-services.json
