body {
  font-family: "Fira Sans", sans-serif;
  font-size:   18px;
  line-height: 1.5;
  background-color: #011511;
  color: #ffffff;
}

.site-header {
  min-height: 80px;
}

.container {
  width: 1024px;
  margin: 0 auto 0 60px;
  padding: 20px;
}

.site-footer {
  border-top: 1px solid #ffffff;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 1.5rem;
}

hr {
  height: 1px;
  border: 0 none;
  background-color: #ffffff;
  margin-bottom: 2em;
}

 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure {
   margin-top: .5rem;
   margin-bottom: 1.5rem;
 }

 img {
   max-width: 100%;
   vertical-align: middle;
 }
 
 figure > img {
   display: block;
 }
 
 figcaption {
   font-size: .8em;
 }
 
 h1 {
    font-size: 4em;
 }
 
 h2 {
    font-size: 2.5em;
 }
 
a {
  color: #6BEACA;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}
 
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  padding-right: 8px;
  vertical-align: text-top;
}

table {
  margin-bottom: 1.5rem;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: .5em;
}
